body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #F6F5A0;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../images/vineart.jpg') no-repeat;
	background-repeat: no-repeat;
  	background-size: auto;
}